<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBdoQ1Ra5dUVsud6HkF8Clb6orrfaomBOY</string>
	<key>GCM_SENDER_ID</key>
	<string>1007519580396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pingo.pingoTask</string>
	<key>PROJECT_ID</key>
	<string>pingo-749de</string>
	<key>STORAGE_BUCKET</key>
	<string>pingo-749de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007519580396:ios:92b87d8e6116da79a9a5c9</string>
</dict>
</plist>